Debug/
Release/
x64/
x86/
out/
build/

.vs/
.vscode/
*.VC.db
*.VC.VC.opendb

*.obj
*.exe
*.dll
*.pdb
*.idb
*.ipch
*.ilk
*.log
*.tlog
*.lastbuildstate
*.exp
*.lib

*.user
*.suo
*.userosscache
*.sln.docstates

*.opendb
*.cache
*.tmp

packages/**/build/

!packages/glfw.3.4.0/build/native/glfw.targets